.menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}
.surah{
    background-image: url("https://app.nasimrezvan.com/assets/dashboard-section-box-bg.62578d0.png");
   
    background-size: 100% ;
}
.textheader{
    width: 80%;   
}
.title { 
    font-size: 20px; 
    width: 260px; 
    height: 30px; 
    padding: 8px; 
    font-weight: bold; 
    text-align: center; 
    border-radius: 25px; 
    background-color: rgb(154, 152, 152); 
    border: 3px solid rgb(78, 78, 79); 
    color: aliceblue;
}

.input { 
    width: 220px; 
    height: 20px; 
    direction: rtl; 
    border: 2px solid rgb(78, 78, 79); 
    border-radius: 5px; 
    padding: 12px; 
    font-size: 18px; 
} 

.surah{
    padding: 7px;
    padding-top: 25px;
}
.contaner{
    display: flex;
    justify-content:space-between;
    width: 150vh;
    height: 35px;
    background-color: rgba(212, 206, 196, 0.5);
    color: rgb(9, 9, 9);
    align-items: center;
    padding: 15px;
    border-radius: 12px;
}

.play{
    color: rgb(46, 144, 171);
    width: 30px;
    display: flex;
}

.item {
    color: rgb(9, 9, 9);
    text-align:right;
    align-items: center;
    padding: 15px;
    padding-right: 70px;
    border-radius: 12px;
    display: flex;
    justify-content:flex-end;
    font-size: 22px;


}
.number{
    width: 55px;
    text-align: right;
}

.countsourh{
    position: absolute;
    padding-left: 17px;
    padding-top: 10px;
    font-size: medium;
}

.a1{
    display: flex;
    margin-left: 20px;
    position: relative;
}

.element{
    /* display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align:start;
    align-items:flex-end;
    padding-right: 100px;
    margin-left: 150px;
    margin-right: 100px; */
}