.App{
    width: 100%;
    height: 100vh;
    background-color: rgb(239, 238, 166);
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.option-Search{
    width: 200px;
    height: 50px;
    padding-right:7px; 
    padding-left:7px; 
    margin-left: 500px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(95, 95, 95);
    border-radius: 25px;
    text-align: center;
    align-items: center;
    background-color: darkgrey;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}
.input-search{
    margin-right: 20px;
    direction: rtl;
}
.input-search input{
    border: 2px solid rgb(66, 66, 66);
    border-radius: 10px;
    outline: none;
    padding-right: 7px;
}
