/* @font-face {
    font-family: "me-quran";
    src: url(../../Font/me-quran.ttf);
} */
/* @font-face {
    font-family: "me-quran";
    src: url(../../Font/me-quran.eot);
} */
 /* @font-face {
    font-family: "me-quran";
    src: url(../../Font/me-quran.woff);
}  */
/* @font-face {
    font-family: "me-quran";
    src: url(../../Font/me-quran.woff2);
}  */
@font-face {
    font-family: "IRANSansWeb";
    src: url(../../Font/IRANSansWeb_Black.ttf);
} 

.surahtext{

    padding: 100px;
    text-align:right;
    background-image: url("https://app.nasimrezvan.com/assets/dashboard-section-box-bg.62578d0.png");
}
.headerquran{
    width: 40%;
    height: 27vh;
    background: linear-gradient(135deg, #3DB9D9 0%, #23849D 100%);
    box-shadow: 0px 0.313rem 1.125rem 1px rgb(57 176 206 / 46%);
    border-radius: 1.25rem;
    align-items: center;
    text-align: center;
    margin-left: 20rem;;
    position: relative;
    padding: 20px;
    display: flex;
}
.itemsurah{
    width: 100%;
    background-color: rgba(237, 232, 232, 0.635);
    border: 1px solid black;
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
}

.surah{
    color: #060606;
    margin: 8px;
    padding: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 25px; */
    font-weight: bold;
    word-spacing: 5px;
    line-height: 3rem;


}
.translate{
    color: #4F410F;
    margin: 8px;
    padding: 5px;
    font-family: IRANSansWeb_Black;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-size: 20px; */
    word-spacing: 3px;
    line-height: 2rem;
}
.icontextsurah{

    color: rgb(253, 251, 251);
    width: 60%;
    height: 50%;
    display: flex;
    justify-content:right;
    padding-left: 7rem;
    padding-top: 8rem;
    position: absolute;

}

.image{
    max-width: 100%;
    width: 100%;
    padding-left: 16.7rem;

}
